
@keyframes center-top-icon {
  0%{
    top: 20px;
  }
  100%{
    top: 10px;
  }
}
@keyframes center-left-icon {
  0%{
    top: 1px;
    width: 3px;
    left: -0.5px;
  }
  100%{
    top: 20px;
    width: 42px;
    left: -20px;
  }
}
@keyframes center-right-icon {
  0%{
    bottom: 1px;
    width: 3px;
    left: 39.5px;
  }
  100%{
    bottom: 20px;
    width: 42px;
    left: 20px;

  }
}
@keyframes center-bottom-icon {
  0%{
    top: 20px;
  }
  100%{
    top: 30px;
  }
}
.menu-icon{
  position: fixed;
  top: 20px;
  right: 30px;
  height: 42px;
  width: 42px;
  cursor: pointer;
}
.icon-1, .icon-3 {
  width: 42px;
  height: 2px;
  background: black;
  position: absolute;
}
.icon-left-1{
  background: black;
  position: absolute;
  transform: rotate(90deg);
  top: 20px;
  height: 2px;
  left: -20px;
  width: 0px;
  transition: all .5s;
}
.menu-icon:hover .icon-left-1{
  animation: center-left-icon 1s;
  width: 42px;
}
.menu-icon:hover .icon-right-3{
  animation: center-right-icon 1s;
  width: 42px;
  left: 20px;
  bottom: 20px;
}
.icon-right-3{
  height: 2px;
  background: black;
  position: absolute;
  transform: rotate(90deg);
}
.icon-3{
  position: absolute;
  top: 40px;
}
.icon-2, .icon-bottom-2, .icon-top-2{
  width: 20px;
  height: 2px;
  background: black;
  position: absolute;
  top: 20px;
  left: 25%;
  transition: all .5s;
}
.menu-icon:hover .icon-top-2{
  animation: center-top-icon .5s;
  top: 10px;
}
.menu-icon:hover .icon-bottom-2{
  animation: center-bottom-icon .5s;
  top: 30px;
}
.menu-icon:active .icon-top-2{
  transform: rotate(45deg);
}
.menu-icon:visited{
}
.change .icon-top-2 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .icon-2 {opacity: 0;}

.change .icon-bottom-2 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
