---
layout: default
title: Fatah Digital | About
permalink: /about/
---
<section class="about">
  <div class="container">
    <div class="ourStory section">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="sub-title">About Us</h1>
        </div>
        <div class="col-sm-4">
          <div class="title">
            <h1>Why</h1>
          </div>
          <div class="info">
            <p>We believe in pushing the limits of what humans can do. We are here to team up with you and build and market innovative products that will change people's lives. We exist for your victory.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="title">
            <h1>How</h1>
          </div>
          <div class="info">
            <p>We communicate with the users and stakeholders to identify and analyze the problem and come up with a strategy to solve that problem. We build-test-launch that solution. We learn from the users and adopt new changes to the solution.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="title">
            <h1>What</h1>
          </div>
          <div class="info">
            <p>We do Outstanding Web and Mobile App Development, Design, Emerging Tech, and Digital Marketing.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ourProcess section">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="sub-title">Victory Process</h1>
        </div>
        <div class="col-sm-12">
          <p class="details">
            Fatah Digital teams up with purpose-driven organizations. We do whatever it takes to push the limits and move the needle. The road is rough and full of obstacles, but together we can walk the road with patience and persistence to achieve victory.
            We have developed an adaptive framework for victory.
          </p>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-4">
              <div class="step">
                <p>1.</p>
              </div>
            </div>
            <div class="col-8">
              <div class="Process_icon">
                 {{ site.data.icon.Talk }}
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
              <div class="Process_title">
                <p>Talk</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-4">
              <div class="step">
                <p>2.</p>
              </div>
            </div>
            <div class="col-8">
              <div class="Process_icon">
                {{ site.data.icon.Strategize }}
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
              <div class="Process_title">
                <p>Strategize</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-4">
              <div class="step">
                <p>3.</p>
              </div>
            </div>
            <div class="col-8">
              <div class="Process_icon">
                {{ site.data.icon.BTD }}
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
              <div class="Process_title">
                <p>BTD - Build Test Deploy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-4">
              <div class="step">
                <p>4.</p>
              </div>
            </div>
            <div class="col-8">
              <div class="Process_icon">
                {{ site.data.icon.Track_Evaluate }}
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
              <div class="Process_title">
                <p>Track and Evaluate</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="read_btn">
            <a href="/process/" class="btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="ourTeam section">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="sub-title">Our Team</h1>
        </div>
      </div>
      <div class="team_details">
        <div class="row">
          <div class="col-sm-4">
            <div class="teamMember">
              <img  class="teamImg" src="http://via.placeholder.com/250x250" alt="">
              <h2 class="name">Name</h2>
              <h2 class="position">Web Developer</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="teamMember">
              <img  class="teamImg" src="http://via.placeholder.com/250x250" alt="">
              <h2 class="name">Name</h2>
              <h2 class="position">Web Developer</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="teamMember">
              <img  class="teamImg" src="http://via.placeholder.com/250x250" alt="">
              <h2 class="name">Name</h2>
              <h2 class="position">Web Developer</h2>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="comment section">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="sub-title">Goodwill</h1>
        </div>
      <div class="goodWill">
        <div class="client_comments">
          {% for comments in site.data.goodWill %}
          <div class="card">
            <p class="quote">
              {{ comments.goodwill }}
            </p>
            <div class="authorContainer">
              <div class="img">
                <img  class="" src="{{ comments.Img }}" alt="">
              </div>
              <div class="details">
                <p class="name">{{ comments.Name }}</p>
                <p class="position">{{ comments.Position }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="client section">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="sub-title">Our Clients</h1>
        </div>
        <div class="col-sm-12">
          <div class="client_box">
            <img class="desktop" src="/assets/images/Client logos/Desktop_client logos.jpg" alt="">
            <img class="mobile" src="/assets/images/Client logos/Mobile_client logos.jpg" alt="">
            <img class="tablet" src="/assets/images/Client logos/Tablet_client logos.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="start_project_btn">
            <a href="/hire-us/" class="">Start a Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer_contact.html %}
{% include footer_copyright.html %}
