.about{
  background-color: #fff;
  padding-bottom: 100px;
  .title{
    @include PageTitle();
  }
  .sub-title{
      font-size: 72px;
      padding: 50px 0;
      @media only screen and (max-width: 767px){
        font-size: 48px;
      }
  }
  .details{
    font-size: 22px;
    margin-top: 30px;
    line-height: 1.3;
  }
  .section{
    padding-top: 50px;
  }
  .ourStory{
    position: relative;
    .sub-title{
      padding-top: 200px;
      @media only screen and (max-width: 767px){
        padding-top: 0;
      }
    }
    .title{
      margin-top: 30px;
      text-align: center;
      h1{
        font-size: 42px;
        @media only screen and (max-width: 767px){
          font-size: 36px;
        }
      }
    }
    .info{
      margin-top: 20px;
      font-size: 22px;
      line-height: 1.3;
    }
  }
  .ourProcess{
    .details{
      margin-bottom: 30px;
    }
    .step{
      margin-top: 50px;
      text-align: right;
      p{
        font-size: 50px;
        font-family: 'LubalinGraphRegular', sans-serif;
        @media only screen and (max-width: 767px){
          font-size: 40px;
        }
      }
    }
    .Process_icon{
      margin-right: auto;
      margin-top: 30px;
      height: 120px;
      width: 120px;
      svg{
        width: 100%;
        height: 100%;
      }
    }
    .Process_title{
      text-align: left;
      font-size: 24px;
      line-height: normal;
      font-weight: 600;
    }
    .read_btn{
      margin-top: 100px;
      margin-bottom: 50px;
      text-align: center;
      .btn{
        background-color: #000;
        font-size: 24px;
        padding: 10px 30px;
        color: #fff;
      }
    }
  }
  .team_details{
    margin-top: 30px;
    .teamMember{
      @media only screen and (max-width: 767px){
        margin-top: 50px;
      }
      .teamImg{
        margin: 0 auto;
        display: block;
        @media only screen and (max-width: 991px){
          max-width: 100%;
        }
      }
      .name{
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
      }
      .position{
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
      }
    }
  }
  .client{
    .client_box{
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      img{
        max-width: 100%;
      }
    }
  }
  .comment{
    #carousel {
      padding: 50px;
      position: relative;
      width:100%;
      margin:0 auto;
    }

    #slides {
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    #slides ul {
      list-style: none;
      width:100%;
      position: relative;
    }

     #slides li {
      width:100%;
      float:left;
      text-align: left;
      position: relative;
    }
    /* Styling for prev and next buttons */
    .btn-bar{
      position: relative;
      width: 100%;
    }

    #buttons a {
      display:inline-block;
      font-size:50px;
      outline:0;
      text-decoration:none;
      padding:9px;
      width:35px;
      position: absolute;
      top: 50px;
      @media only screen and (max-width: 767px){
        top: 150px;
      }
    }
    #prev {
      left: -70px;
      @media only screen and (max-width: 991px){
        left: -60px;
      }
    }
    #next {
      right: -60px;
      @media only screen and (max-width: 991px){
        right: -50px;
      }
    }
    a#prev:hover, a#next:hover {
      color:#555;
      text-shadow:.5px 0px #b14943;
    }

    .quote-phrase, .quote-author, .quote-company {
      font-weight:400;
      display: table-cell;
      vertical-align: middle;
      padding: 5px 20px;
    }

    .quote-phrase {
      font-size:22px;
    }

    .quote-marks {
      font-size:30px;
      padding:0 3px 3px;
      position:inherit;
    }

    .quote-author, .quote-company {
      font-size:20px;
      font-weight:400;
      height: 30px;
      text-align: center;
    }

    .quoteContainer, .authorContainer {
      display: table;
      width: 100%;
    }
  }
}
