.about{
  background-color: #fff;
  padding-bottom: 100px;
  .title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    font-family: 'LubalinGraphRegular', sans-serif;
  }
  .sub-title{
      font-size: 32px;
  }
  .details{
    font-size: 16px;
    margin-top: 30px;
    line-height: 1.3;
  }
  .section{
    margin-top: 50px;
  }
  .ourProcess{
    .Process_icon{
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      height: 200px;
      width: 200px;
      svg{
        width: 100%;
        height: 100%;
      }
    }
    .Process_title{
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }
    .read_btn{
      margin-top: 50px;
      text-align: center;
      .btn{
        background-color: #000;
        font-size: 16px;
        padding: 10px 30px;
        color: #fff;
      }
    }
  }
  .team_details{
    margin-top: 30px;
    .teamMember{
      .teamImg{
        margin: 0 auto;
        display: block;
      }
      .name{
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
      }
      .position{
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}
