.career-section{
  background-color: #fff;
  padding-bottom: 100px;
  .title{
    text-align: center;
    .h1{
      @include PageTitle();
      padding: 25px 0;
    }
    @media only screen and (max-width: 767px){
      .h1{
        @include DesktopFontSize();
      }
    }
  }
  .condition{
    @include DesktopFontSize();
    margin-top: 50px;
    margin-left: 10px;
  }
  @media only screen and (max-width: 767px){
    .condition{
      margin-top: 15px;
      @include MobileFontSize();
    }
  }
  .btn-send{
    margin-left: 0;
  }
  @media only screen and (max-width: 767px){
    .btn-send{
      margin-left: 0;
      @include MobileFontSize();
      width: 100px;
    }
  }
  .gender{
    @include DesktopFontSize();
    p{
      margin-top: 70px;
      margin-left: 10px;
    }
    .radio-items{
      margin-top: 30px;
      margin-left: 20px;
    }
  }
  @media only screen and (max-width: 767px){
    .gender{
      @include MobileFontSize();
      p{
        margin-top: 20px;
      }
    }
  }
    .degree{
      margin-top: 115px;
      @include DesktopFontSize();
      border: 0;
      width: 100%;
      border-radius: 0;
      &:focus, &:active {
        outline: 0;
      }
      .items{
        margin-left: 20px;
      }
    }
  @media only screen and (max-width: 767px){
    .degree{
      margin-top: 15px;
      @include MobileFontSize();
    }
  }
  .heading{
    @include DesktopFontSize();
    margin-left: 10px;
  }
  @media only screen and (max-width: 767px){
    .heading{
      @include MobileFontSize();
      margin-left: 0;
    }
  }
  hr{
    border-top: 1px solid #000 ;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #000;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #000;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #000;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  .title{
    @include DesktopFontSize();
    text-align: left;
    margin: 30px 15px;
  }
  @media only screen and (max-width: 767px){
    .title{
      @include MobileFontSize();
      margin: 0;
    }
    .radio-btn{
      margin-bottom: 15px;
      display: inline-block;
    }
  }
  #Front-End-Developer label{
    margin-left: 25px;
  }
  #Back-End-Developer label{
    margin-left: 20px;
  }
  #terms{
    // left: 0;
  }
  @media only screen and (max-width: 767px){
    label{
      @include MobileFontSize();
    }
  }
  .inputfile {
    width: 100px;
    height: 35px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    @include DesktopFontSize();
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 25px;
  }
  @media only screen and (max-width: 767px){
    .inputfile + label{
      @include MobileFontSize();
      padding: 2px 5px;
    }
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
  .inputfile + label i,
  .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
  }
  .inputfile + label {
    color: #000;
    border: 2px solid currentColor;
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label,
  .inputfile + label:hover {
      color: #000;
  }
  .resume{
    margin-top: 25px;
    margin-left: 10px;
  }
  .file{
    margin-top: 25px;
    margin-left: 35px;
  }
  p.error{
    font-size: 10px;
    height: 0;
    position: relative;
    top: 3px;
    left: 35px;
    color: red;
  }
  #Position-error{
    position: absolute;
    top: -25px;
  }
  .qulificationBox{
    p.error{
      font-size: 10px;
      height: 0;
      position: relative;
      top: 30px;
      left: 35px;
      color: red;
    }
    hr{
      margin-top: 22px;
    }
  }
  .file{
    position: relative;
    p.error{
      position: absolute;
      top: 55px;
    }
    .fileName{
      @include DesktopFontSize();
      margin-left: 60px;
      position: absolute;
    }
    @media only screen and (max-width: 767px){
      .fileName{
        @include MobileFontSize();
        margin-left: 20px;
      }
    }
  }
  .cusSelBlock {
    position: relative;
    top: 100px;
  }
  .location-title{
    margin-bottom: 30px;
    margin-left: 10px;
    @include DesktopFontSize();
  }
  @media only screen and (max-width: 767px){
    .cusSelBlock{
      // min-width: 300px;
      top: 10px;
    }
    .location-title{
      margin-bottom: 15px;
      @include MobileFontSize();
    }
  }
}
.chk_lable{
  margin-left: 15px;
}
.location .radio-btn{
  margin-left: 35px;
}
@media only screen and (max-width: 767px){
  .radio-btn{
    margin-left: 20px;
  }
}
