.career-section{
  padding-bottom: 100px;
  .title{
    text-align: center;
    .h1{
      font-size: 32px;
      font-family: 'LubalinGraphRegular', sans-serif;
      padding: 25px 0;
      text-align: center;

    }
    @media only screen and (max-width: 767px){
      .h1{
        font-size: 24px;
      }
    }
  }
  .condition{
    font-size: 24px;
    margin-top: 50px;
  }
  @media only screen and (max-width: 767px){
    .condition{
      margin-top: 15px;
      font-size: 16px;
    }
  }
  .btn-send{
    margin-left: 0;

  }
  @media only screen and (max-width: 767px){
    .btn-send{
      margin-left: 0;
      font-size: 16px;
      width: 100px;
    }
  }
  .gender{
    font-size: 24px;
    p{
      margin-top: 70px;
      margin-left: 20px;
    }
    .radio-items{
      margin-top: 30px;
      margin-left: 20px;
    }
  }
  @media only screen and (max-width: 767px){
    .gender{
      font-size: 16px;
      p{
        margin-top: 20px;
      }
    }
  }
    .degree{
      margin-top: 115px;
      font-size: 24px;
      border: 0;
      width: 100%;
      border-radius: 0;
      &:focus, &:active {
        outline: 0;
      }
      .items{
        margin-left: 20px;
      }
    }
  @media only screen and (max-width: 767px){
    .degree{
      margin-top: 15px;
      font-size: 16px;
    }
  }
  .heading{
    font-size: 24px;
    margin-left: 20px;
  }
  @media only screen and (max-width: 767px){
    .heading{
      font-size: 22px;
      margin-left: 0;
    }
  }
  hr{
    border-top: 1px solid #000 ;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #000;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #000;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #000;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  .c-checkbox{
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 40px;
    cursor: pointer;
    left: 35px;
    width: fit-content;

    &:hover ~.check_border_expand {
      animation: input-box-hover .2s;
      top: -8.75px;
      left: -8.75px;
      transition: all .2s;
      background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
      background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
      height: 42px;
      width: 42px;
    }
    input[type=checkbox]{
      position: relative;
      opacity: 0;
      z-index: 1;
      height: 25px;
      width: 25px;
      margin: 0;
      cursor: pointer;
      // &:hover ~.check_border_expand, &:focus ~.check_border_expand {
      //   animation: input-box-hover .2s;
      //   top: -8.75px;
      //   left: -8.75px;
      //   transition: all .2s;
      //   background:
      //   linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      //   linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      //   linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      //   linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
      //   background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
      //   height: 42px;
      //   width: 42px;
      // }
      &:checked{
        ~.check_mark{
          transition-delay: .2s;
          visibility: visible;
          border: 2px solid #000;
          background-color: #000;
        }
        ~.check_border_expand{
          animation: input-box-hover-leave .2s ;
          height: 25px;
          width: 25px;
          background:
          linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
          linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
          linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
          linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
          background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          transition: all .2s;
        }
      }
    }

  }
  @media only screen and (max-width: 767px){
    .c-checkbox{
      left: 0;
    }
  }
  .title{
    font-size: 24px;
    text-align: left;
    margin: 30px 15px;
  }
  @media only screen and (max-width: 767px){
    .title{
      font-size: 16px;
      margin: 0;
    }
    .radio-btn{
      margin-bottom: 15px;
      display: inline-block;
    }
  }
  .check_mark{
    visibility: hidden;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  .check_border_collaps{
    animation: input-box-hover-leave .2s;
    transition: all .2s;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
  }
  .check_border{
    // animation: input-box-hover-leave .5s;
    transition: all .2s;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
  }

  label{
    font-size: 24px;
    // line-height: 2.6rem;
    // margin-left: 15px;
    cursor: pointer;
    &:hover ~ .check_border_expand{
      animation: input-box-hover .2s;
      top: -8.75px;
      left: -8.75px;
      transition: all .2s;
      background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
      background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
      height: 42px;
      width: 42px;
    }
  }
  #Front-End-Developer label{
    margin-left: 25px;
  }
  #Back-End-Developer label{
    margin-left: 20px;
  }
  #terms{
    left: 0;
  }
  @media only screen and (max-width: 767px){
    label{
      font-size: 16px;
    }
  }
  .inputfile {
    width: 100px;
    height: 35px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.inputfile + label {
    // max-width: 100%;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 25px;
    /* 10px 20px */
  }
  @media only screen and (max-width: 767px){

    .inputfile + label{
      font-size: 16px;
      padding: 2px 5px;
    }
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
  }

  .inputfile + label i,
  .inputfile + label svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      margin-top: -0.25em;
      /* 4px */
      margin-right: 0.25em;
      /* 4px */
  }

  .inputfile + label {
      color: #000;
      border: 2px solid currentColor;
  }

  .inputfile:focus + label,
  .inputfile.has-focus + label,
  .inputfile + label:hover {
      color: #000;
  }
  .resume{
    margin-top: 25px;
  }
  .file{
    margin-top: 25px;
  }
  p.error{
    font-size: 10px;
    height: 0;
    position: relative;
    top: 3px;
    left: 35px;
    color: red;
  }
  #Position-error{
    position: absolute;
    top: -25px;
  }
  .qulificationBox{
    p.error{
      font-size: 10px;
      height: 0;
      position: relative;
      top: 30px;
      left: 35px;
      color: red;
    }
    hr{
      margin-top: 22px;
    }
  }
  .file{
    position: relative;
    p.error{
      position: absolute;
      top: 55px;
    }
    .fileName{
      font-size: 24px;
      margin-left: 60px;
      position: absolute;
    }
    @media only screen and (max-width: 767px){
      .fileName{
        font-size: 16px;
        margin-left: 20px;
      }
    }
  }


  // #DOB-error{
  //   font-size: 12px;
  // }
  // #Name-error{
  //   font-size: 12px;
  // }
  // #Email-error{
  //   font-size: 12px;
  // }
  // #Phone-error{
  //   font-size: 12px;
  // }
  // #selectbox-error{
  //   font-size: 12px;
  // }
  // #message-error{
  //   font-size: 12px;
  // }
  // #file-error{
  //   font-size: 12px;
  // }
  // #Gender-error{
  //   font-size: 12px;
  // }
  .cusSelBlock {
    position: relative;
    top: 100px;
  }
  .location-title{
    margin-bottom: 30px;
    font-size: 24px;
  }
  @media only screen and (max-width: 767px){
    .cusSelBlock{
      // min-width: 300px;
      top: 10px;
    }
    .location-title{
      margin-bottom: 15px;
      font-size: 16px;
    }
  }
}
.chk_lable{
  margin-left: 15px;
}
.placeholder{
  font-size: 24px;
  position: relative;
  top: -145px;
  transition: all .5s;
}
.input-message:focus + .placeholder{
  font-size: 16px;
  top: -175px;
  transition: all .5s;
}
