.contact{
  // font-family: 'LubalinGraphRegular', sans-serif;
  margin-top: 30px;
  .hr{
    border-top: solid .5px black;
    width: 30%;
    position: fixed;
    left: 0;
    top: 45%;
    transform: rotate(90deg);
  }
  .wrapper{
    margin-left: 25px;
  }
  &__left-side{
    margin-top: 25px;
  }
  &__right-side{
    margin-top: 25px;
  }
  .contact-type{
    position: relative;
    padding-bottom: 25px;
    .left{
      position: absolute;
      right: calc(50% + 40px);
    }
    .right{
      position: absolute;
      left: calc(50% + 40px);
    }

    &__link{
      color: $black;
      font-size: 24px;
      border: solid 1px black;
      padding: 5px 15px;
      width: auto;
    }
    @media only screen and (max-width: 576px) {
        .left{
          right: calc(50% + 0px);
        }
        .right{
          left: calc(50% + 40px);
        }

         &__link {
          padding: 10px;
          font-size: 18px;
        }
    }
    &__link:hover, &__link:active{
      color: $black;

    }
  }
  .contact-details{
    font-size: 24px;
  }
  .h1{
    text-align: center;
    padding: 15px 0;
    .link{
      font-size: 24px;
    }
  }
  .contact-info li{
    margin-bottom: 15px;
  }
    @media only screen and (max-width: 767px) {
    .contact-info li:first-child{
      margin-top: 15px;
    }
    .contact-details{
      font-size: 20px;
      .link{
        font-size: 20px;
      }
    }
  }
  &__social{
    .link{
      font-size: 24px ;
      // transition: all .5s;
      // transform: scale(1);
      // &:hover{
      //   transform: scale(1.2);
      //   transition: all .5s;
      //   color: red;
      // }
    }

  }
  &__img{
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border: solid 3px black;
  }
  .link{
    color: $black;
    font-size: 24px;
    &:hover, &:active{
      color: $black;
    }
  }

}
.input{
  border: none;
  width: 100%;
  border-bottom: solid 1px black;
  height: 30px;
  padding-bottom: 0px;
  transition: .2s ease-in;
  font-size: 24px;
  &::placeholder{
    position: relative;
    color: $black;
    top: 0px;
    transition: .2s ease-out;
  }
  &:focus::placeholder{
    top: -10px;
    transition: .2s ease-out;
    opacity: 0;
  }
  // input:focus::-webkit-input-placeholder { color:transparent; }
 &:focus{
    border: none;
    outline: none;
    border-bottom: solid 1px red;
  }
  &:valid{
    border-color: $black;
  }
}
@media only screen and (max-width: 767px) {
  .input{
    font-size: 20px;
    margin-top: 15px;
  }
}
.input-message{
  margin-top: 15px;
  border: none;
  border-bottom: solid 1px black;
  width: 100%;
  font-size: 24px;
  &:focus{
     border: none;
     outline: none;
     border-bottom: solid 1px black;
   }
   &::placeholder{
     position: relative;
     color: $black;
     top: 5px;
     transition: .2s ease-out;
   }
   &:focus::placeholder{
     top: -10px;
     transition: .2s ease-out;
     opacity: 0;
   }
}
@media only screen and (max-width: 767px) {
  .input-message{
    font-size: 20px;
  }
}
.btn-send{
  display: block;
  margin-left: auto;
  margin-top: 25px;
  width: 125px;
  height: 45px;
  border: solid;
  border-color: black;
  background-color: white;
  border-width: 2px;
  cursor: pointer;
  font-size: 24px;
}
.error{
  color: red;
}
