.footer{
  background-color: #303030;
  height: 85vh;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  @media only screen and (max-width: 767px){
    &{
      height: auto;
      position: unset;
    }
  }
  .contact{
    &__left-side{
      margin-top: 100px;
      .title{
        color: #fff;
        font-weight: 700;
        margin-bottom: 25px;
      }
      .contact-info{
        margin-top: 20px;
        li{

          color: #fff;
          font-size: 24px;
          margin-bottom: 10px;
        }
      }
    }
    &__img{
      border-color: white;
    }
    &__details{
      color: #fff;
    }

    &__right-side{
      margin-top: 0;
      .input__field--fatah:focus + .input__label--fatah
      .input__label-content--fatah,
      .input--filled .input__label-content--fatah{
        padding-bottom: 20px;
        color: white;
      }
      .input__field--fatah{
        background: #fff;
        color: #000;
      }
      .input__label--fatah::after{
        background-color: #fff;
        color: #000;
      }

      .message_input{
        padding: 0;
        color: white;
      }
      .input__label-content{
        color: white;
      }
      .input__label--fatah::before {
        border-top-color: #fff;
      }
      .btn-send{
        border: none;
      }
    }
  }
}
.copy_right{
  position: fixed;
  height: 10vh;
  width: 100%;
  bottom: 0;
  z-index: -1;
  @media only screen and (max-width: 767px){
    &{
      margin-top: -5px;
      background-color: #303030;
      height: auto;
      position: unset;
      padding-top: 30px;
      padding-bottom: 100px;
    }
  }
  .right{
    @media only screen and (max-width: 767px){
      position: absolute;
      bottom: -190px;
      left: 50%;
      transform: translateX(-50%);
    }
    p{
      position: relative;
      font-size: 16px;
      color: #fff;
    }
  }
  .info_link{
    .navigation_link{
      text-align: center;
      .items{
        position: relative;
        display: inline-block;
        margin-left: 20px;
        @media only screen and (max-width: 767px){
            display: block;
            margin-bottom: 10px;
        }
        a{
          color: #fff;
          font-size: 16px;
        }
        .box{
          position: absolute;
          top: 50%;
          right: -15px;
          height: 5px;
          width: 5px;
          background: #fff;
          @media only screen and (max-width: 767px){
            display: none;
          }
        }
      }
    }
  }
  .social{
    color: #fff;
    @media only screen and (max-width: 767px){
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
    }
    .social_link{
      text-align: right;
      @media only screen and (max-width: 767px){

      }
      .items{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-left: 15px;
        i{
          color: #fff;
        }
      }

    }
  }
}
.aa{
  height: 100px;
  width: 100%;
  background: #fff;
  z-index: 2;
  margin-bottom: 550px;
}
