.footer{
  background-color: #303030;
  height: 75vh;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 60px;
  z-index: -1;
  @media only screen and (max-width: 767px){
    &{
      height: auto;
      position: unset;
    }
  }
  .contact{
    &__left-side{
      margin-top: 100px;
      .title{
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 25px;
      }
      .contact-info{
        margin-top: 20px;
        .items{
          color: #fff;
          font-size: 24px;
          margin-bottom: 10px;
          .link{
            color: #fff;
          }
        }
      }
    }
    &__img{
      border-color: white;
    }
    &__details{
      color: #fff;
    }

    &__right-side{
      margin-top: 0;
      .input__field--fatah:focus + .input__label--fatah
      .input__label-content--fatah,
      .input--filled .input__label-content--fatah{
        padding-bottom: 20px;
        color: white;
      }
      .input__field--fatah{
        background: #fff;
        color: #000;
      }
      .input__label--fatah::after{
        background-color: #fff;
        color: #000;
      }
      .message_input{
        color: white;
      }
      .input__label-content{
        color: white;
      }
      .input__label--fatah::before {
        border-top-color: #fff;
      }
      p.error{
        color: #fff;
        position: absolute;
        top: 78px;
        @media only screen and (max-width: 767px){
          top: 53px;
        }
      }
      #message-error{
        top: 105px;
        @media only screen and (max-width: 767px){
          top: 63px;
        }
      }
      .btn-send{
        border: none;
        @media only screen and (max-width: 767px){
          margin-bottom: 30px;
        }
      }
    }
  }
}
.copy_right{
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0;
  z-index: -1;
  background-color: #303030;
  @media only screen and (max-width: 767px){
    &{
      margin-top: -5px;
      background-color: #303030;
      height: auto;
      position: unset;
      padding-bottom: 66px;
    }
  }
  hr{
    border-top-color: #fff;
    position: relative;
    display: block;
  }
  .right{
    margin-top: 20px;
    @media only screen and (max-width: 767px){
      position: absolute;
      bottom: -105px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    @media only screen and (max-width: 320px){
      bottom: -125px;
    }
    p{
      position: relative;
      @include MobileFontSize();
      color: #fff;
    }
  }
  .info_link{
    margin-top: 20px;
    .navigation_link{
      text-align: center;
      .items{
        position: relative;
        display: inline-block;
        margin-left: 20px;
        @media only screen and (max-width: 767px){
          margin-left: 10px;
          margin-bottom: 3px;
        }
        &:first-child {
          margin-left: 0;
        }
        a{
          color: #fff;
          @include MobileFontSize();
        }
        .box{
          position: absolute;
          top: 50%;
          left: -11px;
          height: 5px;
          width: 5px;
          background: #fff;
        }
      }
    }
  }
  .social{
    margin-top: 20px;
    color: #fff;
    @media only screen and (max-width: 767px){
      position: absolute;
      left: 42%;
      -webkit-transform: translateX(-34%);
              transform: translateX(-34%);
      margin-top: 5px;
    }
    .social_link{
      text-align: right;
      @media only screen and (max-width: 767px){
      }
      .items{
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
        i{
          color: #fff;
        }
      }
    }
  }
}
.scroll{
  height: 0px;
  width: 100%;
  background: #fff;
  z-index: 2;
  margin-bottom: 85vh;
  @media only screen and (max-width: 991px){
    margin-bottom: 85vh;
  }
  @media only screen and (max-width: 767px){
    margin-bottom: 0;
  }
}
.copy_right_scroll{
  height: 0px;
  width: 100%;
  background: #fff;
  z-index: 2;
  margin-bottom: 10vh;
  @media only screen and (max-width: 767px){
    display: none;
  }
}
