.inputt {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc(100% - 0em);
  vertical-align: top;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 20px 0;
  width: 100%;
  margin-left: -10px;
}
.input--fatah {
  margin-top: 50px;
}
.coverLetter .input--fatah{
  margin-top: 75px;
}
.input__field--fatah {
  padding: 0.85em 0.5em;
  width: 100%;
  background: #000;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  @include DesktopFontSize();
}
@media only screen and (max-width: 767px){
  .input__field--fatah{
    @include MobileFontSize();
  }
}
.input__label--fatah {
  position: absolute;
  left: 0;
  padding: 0 0.85em;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  @include DesktopFontSize();
}
@media only screen and (max-width: 767px){
  .input__label--fatah{
    @include MobileFontSize();
  }
}
.input__label-content--fatah {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}
.input__label--fatah::before,
.input__label--fatah::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.input__label--fatah::before {
  border-top: 1px solid #000;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.input__label--fatah::after {
  z-index: -1;
  background: #000;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.input__field--fatah:focus,
.input--filled .input__field--fatah {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.input__field--fatah:focus + .input__label--fatah .input__label-content--fatah,
.input--filled .input__label-content--fatah {
  -webkit-transform: translate3d(0, -80%, 0);
  transform: translate3d(0, -80%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.input__field--fatah:focus + .input__label--fatah::before,
.input--filled .input__label--fatah::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.input__field--fatah:focus + .input__label--fatah::before,
.input--filled .input__label--fatah::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.input__field--fatah:focus + .input__label--fatah::after,
.input--filled .input__label--fatah::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.hire-us-section{
  padding-bottom: 100px;
  background-color: #fff;
  .title{
    text-align: center;
    .h1{
      font-size: 36px;
      font-family: 'LubalinGraphRegular', sans-serif;
      padding: 25px 0;
    }
    @media only screen and (max-width: 767px){
      .h1{
        font-size: 22px;
      }
    }
  }
  .info{
    @include DesktopFontSize();
    @media only screen and (max-width: 767px){
      @include MobileFontSize();
    }
  }
  .project-form{
    &__service-box{
      margin-top: 50px;
      .heading{
        @include DesktopFontSize();
        margin-left: 35px;
      }
      @media only screen and (max-width: 767px){
        .heading{
          @include MobileFontSize();
          margin-left: 0;
        }
      }
    }
    &__service{
      text-align: center;
      padding-top: 30px;
    }
    @media only screen and (max-width: 767px){
      &__service{
        @include MobileFontSize();
      }
    }
  }
  @media only screen and (max-width: 767px){
    label{
      @include MobileFontSize();
    }
  }
  .btn-send{
    margin-left: 0;
  }
  hr{
    border-top: 1px solid #000 ;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.budget{
  margin-top: 30px;
  @include DesktopFontSize();
  border: 0;
  width: 100%;
  border-radius: 0;
  background: none;
  border-bottom: solid 1px #000;
  cursor: pointer;
  &:focus, &:active {
    outline: 0;
  }
  .items{
    margin-left: 20px;
  }
}
@media only screen and (max-width: 767px){
  .budget{
    @include MobileFontSize();
  }
}
.budget_details{
  @include DesktopFontSize();
  margin-left: 20px;
}
@media only screen and (max-width: 767px){
  .budget_details{
    @include MobileFontSize();
  }
}
::-webkit-scrollbar {
  display: none;
}
/* */
.selected-item {
  margin: 20px 0;
}
/* custom select style */
.cusSelBlock {
  height: 50px;
  width: 100%;
  z-index: 5;
}
@media only screen and (max-width: 767px){
  .cusSelBlock{
  }
}
#cusSelectbox {
  height: 100%;
  width: 100%;
}
.s-hidden {
  visibility: hidden;
}
.cusSelBlock {
  display: inline-block;
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
}
.selectLabel {
  @include DesktopFontSize();
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #333;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
  line-height: 50px;
  padding: 0 50px 0 20px;
  text-align: left;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  transition: -webkit-transform 300ms;
  -webkit-transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 767px){
  .selectLabel{
    @include MobileFontSize();
  }
}
.selectLabel:after {
  content: '\25BC';
  border-left: 1px solid #333;
  color: #333;
  font-size: 12px;
  line-height: 17px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 15%;
  height: 70%;
  width: 50px;
}
.selectLabel:active:after {
  content: '\25B2';
}
.selectLabel.active:after {
  content: '\25B2';
}
::-webkit-scrollbar {
  display: none;
}
.options {
  position: absolute;
  top: 50px;
  height: 1px;
  width: 100%;
  @include DesktopFontSize();
  z-index: 100;
}
@media only screen and (max-width: 767px){
  .options {
    @include MobileFontSize();
  }
}
.options li {
  background-color: #ffffff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
  display: block;
  line-height: 50px;
  list-style: none;
  opacity: 1;
  padding: 0 50px 0 20px;
  text-align: left;
  transition: -webkit-transform 300ms ease;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 0;
  height: 50px;
  width: 100%;
}
.options li:hover,
.options li.active {
  background-color: #000;
  color: #fff;
}
.options li:nth-child(1) {
  -webkit-transform: translateY(0px);
  transform: translateY(px);
  z-index: 60;
}
.options li:nth-child(2) {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  z-index: 50;
}
.options li:nth-child(3) {
  z-index: 40;
}
.options li:nth-child(4) {
  z-index: 30;
}
.options li:nth-child(5) {
  z-index: 20;
}
.options li:nth-child(6) {
  z-index: 10;
}
.c-checkbox{
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  left: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  &:hover ~.check_border_expand {
    @include checkBoxBorderExpand();
  }
  input[type=checkbox]{
    position: relative;
    opacity: 0;
    z-index: 1;
    height: 25px;
    width: 25px;
    margin: 0;
    cursor: pointer;
    &:hover ~.check_border_expand, &:focus ~.check_border_expand {
      @include checkBoxBorderExpand();
    }
    &:checked{
      ~.check_mark{
        -webkit-transition-delay: .2s;
                transition-delay: .2s;
        visibility: visible;
        border: 2px solid #000;
        background-color: #000;
      }
      ~.check_border_collaps{
        @include checkBoxBorderCollaps();
      }
    }
  }
}
@media only screen and (max-width: 767px){
  .c-checkbox{
    margin-left: 10px;
    left: 0;
  }
}
.check_mark{
  visibility: hidden;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.check_border_collaps{
  @include checkBoxBorderCollaps();
}
.check_border{
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background:
  -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
  -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) bottom left no-repeat,
  -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
  -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent))top right no-repeat;
  background:
  linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
  linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
  linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
  linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
  background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
label{
  @include DesktopFontSize();
  cursor: pointer;
  &:hover ~ .check_border_expand{
    @include checkBoxBorderExpand();
  }
}
