.hire-us-section{
  .title{
    text-align: center;
    .h1{
      font-size: 36px;
      font-family: 'LubalinGraphRegular', sans-serif;
      padding: 25px 0;
    }
  }
  .inputt {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: calc(100% - 0em);
    vertical-align: top;
  }


  .input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    -webkit-appearance: none; /* for box shadows to show on iOS */
  }

  .input__field:focus {
    outline: none;
  }

  .input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
  }


  .input--fatah {
    margin-top: 50px;
  }

  .input__field--fatah {
    padding: 0.85em 0.5em;
    width: 100%;
    background: #000;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    font-size: 24px;
  }

  .input__label--fatah {
    position: absolute;
    left: 0;
    padding: 0 0.85em;
    width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
    font-size: 24px;
  }

  .input__label-content--fatah {
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
  }

  .input__label--fatah::before,
  .input__label--fatah::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .input__label--fatah::before {
    border-top: 1px solid #000;
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .input__label--fatah::after {
    z-index: -1;
    background: #000;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .input__field--fatah:focus,
  .input--filled .input__field--fatah {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .input__field--fatah:focus + .input__label--fatah .input__label-content--fatah,
  .input--filled .input__label-content--fatah {
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  .input__field--fatah:focus + .input__label--fatah::before,
  .input--filled .input__label--fatah::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .input__field--fatah:focus + .input__label--fatah::before,
  .input--filled .input__label--fatah::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .input__field--fatah:focus + .input__label--fatah::after,
  .input--filled .input__label--fatah::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .project-form{
    &__service-box{
      margin-top: 50px;
      .heading{
        font-size: 24px;
        margin-left: 35px;
      }
    }
    &__service{
      text-align: center;
      padding-top: 30px;
    }
  }
  .c-checkbox{
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    // width: fit-content;
    cursor: pointer;
    // margin-left: 10px;
    left: 50%;
    transform: translateX(-15%);
    &:hover ~.check_border_expand {
      animation: input-box-hover .20s;
      top: -8.75px;
      left: -8.75px;
      transition: all .2s;
      background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
      background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
      height: 42px;
      width: 42px;
    }
    input[type=checkbox]{
      position: relative;
      opacity: 0;
      z-index: 1;
      height: 25px;
      width: 25px;
      margin: 0;
      cursor: pointer;
      &:hover ~.check_border_expand {
        animation: input-box-hover .2s;
        top: -8.75px;
        left: -8.75px;
        transition: all .2s;
        background:
        linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
        linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
        linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
        linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
        background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
        height: 42px;
        width: 42px;
      }
      &:checked{
        ~.check_mark{
          transition-delay: .20s;
          visibility: visible;
          border: 2px solid #000;
          background-color: #000;
        }
        ~.check_border_expand{
          animation: input-box-hover-leave .2s ;
          height: 25px;
          width: 25px;
          background:
          linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
          linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
          linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
          linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
          background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          transition: all .2s;
        }
      }
    }
  }
  .check_mark{
    visibility: hidden;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  .check_border_collaps{
    animation: input-box-hover-leave .2s;
    transition: all .2s;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
  }
  .check_border{
    // animation: input-box-hover-leave .5s;
    transition: all .2s;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
  }
  label{
    font-size: 24px;
    line-height: 2.6rem;
    margin-left: 15px;
    cursor: pointer;

    &:hover ~ .check_border_expand{
      animation: input-box-hover .2s;
      top: -8.75px;
      left: -8.75px;
      transition: all .2s;
      background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
      background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
      height: 42px;
      width: 42px;
    }
  }
  hr{
    border-top: 1px solid #000 ;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
  }
}
div{
  max-width: 100%;
}
// .box {
//      height: 100px;
//      width: 100px;
//      border: solid;
//      padding:3px;
//
//   background:
//     linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
//     linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
//     linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
//     linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
//   background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
//   &:hover{
//     height: 150px;
//     width: 150px;
//   }
// }
