.home-hero{
  background-color: #fff;
  .sapce-wrape{
    white-space: nowrap;
  }
  // .top_space{
  //   position: relative;
  //   .anim{
  //     background-color: #000;
  //     color: #fff;
  //     padding: 5px 10px;
  //     position: absolute;
  //     font-size: 20px;
  //     @media only screen and (max-width: 767px){
  //       font-size: 14px;
  //     }
  //   }
  // }
  // .bottom_space{
  //
  // }
  .tag-line-hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    margin: 0;
    min-height: 70vh;
    @media only screen and (max-width: 767px){
      min-height: 60vh;
    }
  }
  .tag-line{
    font-size: 65px;
    font-family: 'LubalinGraphRegular', sans-serif;
    line-height: 1.5;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: black;
    text-align: left;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100%;
    &__link, &__link:hover{
      -webkit-transition: all .5s;
      transition: all .5s;
      position: relative;
      color: $menu-link-hov-col;
      font-family: 'LubalinGraphRegular', sans-serif;
    }
    &__hover{
      width: 100%;
      height: 8px;
      background: $menu-link-hov-col;
      position: absolute;
      top: 92%;
      font-family: 'LubalinGraphRegular', sans-serif;
      -webkit-transition: all .5s;
      transition: all .5s;
      span{
        color: #fff;
        font-size: 12px;
        opacity: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%);
        -webkit-transition: all .5s;
        transition: all .5s;
      }
    }
  }
}
.tag-line__link:hover{
  font-size: 55px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.tag-line__link:hover .tag-line__hover{
  content: "this";
  height: 25px;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  span{
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .home-hero{
    .tag-line{
      font-size: 40px;
      &__hover{
        height: 6px;
      }
    }
  }
}
@media only screen and (max-width: 767px){
  .home-hero{
    .tag-line{
      font-size: 28px;
      &__hover{
        height: 4px;
      }
    }
  }
}
