@import "animation/menu-anim";
.menu-bar{
  position: fixed;
  top: 20px;
  right: 30px;
  height: 42px;
  width: 42px;
  cursor: pointer;
  z-index: 10;
  .box-line-top, .box-line-bottom {
    width: 42px;
    height: 2px;
    background: black;
    position: absolute;
  }
  .box-line-left{
    background: black;
    position: absolute;
    transform: rotate(90deg);
    top: -0.5px;
    width: 1px;
    height: 2px;
    left: 0.5px;
    transition: all .5s;
  }
  .box-line-right{
    background: black;
    position: absolute;
    transform: rotate(90deg);
    width: 1px;
    height: 2px;
    bottom: -0.5px;
    left: 40.5px;
    transition: all .5s;
  }
  .box-line-bottom{
    position: absolute;
    top: 40px;
  }
  .bar-middle, .bar-bottom, .bar-top{
    width: 30px;
    height: 2px;
    background: black;
    position: absolute;
    top: 20px;
    left: 15%;
    transition: all .5s;
  }

  &:hover .top-hover{
    animation: center-top-bar 1s;
    top: 10px;
  }
  &:hover .bottom-hover{
    animation: center-bottom-bar 1s;
    top: 30px;
  }
  &:hover .left-hover{
    animation: center-left-bar 1s;
    top: 20px;
    width: 42px;
    left: -20px;
  }
  &:hover .right-hover{
    animation: center-right-bar 1s;
    bottom: 20px;
    width: 42px;
    left: 20px;
  }
  .top-x{
    -webkit-transform: rotate(-45deg) translate(-8px, 5px);
    transform: rotate(-45deg) translate(-8px, 7px);
    top: 10px;
  }
  .bottom-x{
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-6px, -7px);
    top: 30px;
  }
  .left{
    top: 20px;
    width: 42px;
    left: -20px;
  }
  .right{
    bottom: 20px;
    width: 42px;
    left: 20px;
  }
}
.toggle-menu{
  height: 100vh;
  width: 50%;
  background-color: blue;
}
