$menu-back-color: white;
$menu-link-col: black;
$tag-line-link-col: black;
$menu-link-hov-col: black;
// $bar-back-col: white;
$fatah_loader_color: #dcdcdc;
$bar-col: black;
$menu-link-font: 'Roboto Mono', sans-serif;
