<div class="copy_right_scroll">

</div>
<section class="copy_right">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-3">
        <div class="right">
          <p>© 2018 Fatah.co</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="info_link">
          <ul class="navigation_link">
            <li class="items"> <a href="/about/">About</a>  </li>
            <li class="items"> <div class="box"></div> <a href="/skills/">Skills</a> </li>
            <li class="items"> <div class="box"></div> <a href="/portfolio/">Portfolio</a> </li>
            <li class="items"> <div class="box"></div> <a href="/process/">Process</a> </li>
            <li class="items"> <div class="box"></div> <a href="/hire-us/">Hire Us</a>  </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="social">
          <ul class="social_link">
            <li class="items">
              <a href="https://www.facebook.com/fatahdigital/" target="_blank">
                <i class="fab fa-facebook-square fa-2x"></i>
              </a>
            </li>
            <li class="items">
              <a href="https://www.instagram.com/fatahdigital" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
            <li class="items">
              <a href="https://twitter.com/FatahDigital" target="_blank">
                <i class="fab fa-twitter-square fa-2x"></i>
              </a>
            </li>
            <li class="items">
              <a href="https://in.linkedin.com/company/fatahdigital" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
