<div class="scroll">
</div>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="contact__left-side">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title">LET'S TALK</h1>
            </div>
            <div class="col-lg-4">
              <div class="contact__img">
                <img src="/assets/images/faizan/Faizan Vahevaria CEO Fatah Digital.jpeg" alt="">
              </div>
            </div>
            <div class="col-lg-8">
              <div class="contact-details">
                <ul class="contact-info">
                  <!-- <li class="title">LET'S TALK</li> -->
                  <li class="items">Faizan Vahevaria, CEO</li>
                  <li class="items"> <a href="#" class="link">faizan@fatah.co</a></li>
                  <li class="items"><a href="#" class="link">+91&nbsp1234&nbsp567&nbsp890</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- <hr class=" hr"> -->
        <div class="wrapper">
          <div class="contact__right-side">
            <form class="" id="contact-form" name="ContactForm"  action="https://mailthis.to/amjadrathod" method="POST" encType="multipart/form-data" id="Contact-Us-form">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="inputt input--fatah">
                    <span class="myerror"></span>
                    <input class="input__field input__field--fatah" type="text" id="Name" name="Name" required/>
                    <label class="input__label input__label--fatah" for="Name">
                      <span class="input__label-content input__label-content--fatah">Name</span>
                    </label>
                  </span>
                </div>
                <!-- <div class="col-md-2 ">&nbsp</div> -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="inputt input--fatah">
                    <input class="input__field input__field--fatah" type="email" id="Email" name="Email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required/>
                    <label class="input__label input__label--fatah" for="Email">
                      <span class="input__label-content input__label-content--fatah">Email</span>
                    </label>
                  </span>
                </div>
                <div class="col-sm-12">
                  <span class="inputt input--fatah">
                    <textarea class="input__field input__field--fatah" name="CoverLetter" id="message" rows="2" required data-gramm_editor="false"></textarea>
                    <label class="input__label input__label--fatah" for="Name">
                      <span class="input__label-content input__label-content--fatah message_input">Message</span>
                    </label>
                  </span>
                  <input type="hidden" name="_subject" id="subject">
                  <input type="hidden" name="Source" value="Contact-form">

                  <!-- Custom email ReplyTo Address -->
                  <input type="hidden" name="_replyto" id="replyto">
                  <!-- Redirect to a page after recaptcha -->
                  <input type="hidden" name="_after" value="https://fatah.co/">
                  <!-- Honeypot (to catch comment spam bots) -->
                  <input type="hidden" name="_honeypot" value="">
                  <!-- Apply a custom confirmation message on the second step -->
                  <input type="hidden" name="_confirmation" value="">
                  <input type="submit" name="" value="SEND" class="btn-send">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
