<div class="copy_right_scroll">

</div>
<section class="copy_right">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-4">
        <div class="right">
          <p>© 2018 Fatah.co</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info_link">
          <ul class="navigation_link">
            <li class="items"> <a href="#">contact</a> <div class="box"></div> </li>
            <li class="items"> <a href="#">Hire Us</a> <div class="box"></div> </li>
            <li class="items"> <a href="#">Process</a> <div class="box"></div> </li>
            <li class="items"> <a href="#">Skill</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="social">
          <ul class="social_link">
            <li class="items">  <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a> </li>
            <li class="items">  <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a> </li>
            <li class="items">  <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a> </li>
            <li class="items">  <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
