
{% include head.html %}
<!-- onclick="myFunction(this)" -->

<header>
  <nav>
    <div class="brand-icon">
      <img src="/assets/images/icon.png" alt="">
    </div>
    <div class="menu-bar" >
      <div class="box-line-top"></div>
      <div class="box-line-left left-hover"></div>
      <div class="bar-top top-hover"></div>
      <div class="bar-middle"></div>
      <div class="bar-bottom bottom-hover"></div>
      <div class="box-line-bottom"></div>
      <div class="box-line-right right-hover"></div>
    </div>
    <div class="toggle-menu">
      <ul class="menu-item">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="#" data-type="page-transition">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="menu-trangition"></div>
</header>
<div id="barba-wrapper">
  <div class="barba-container">
