@-webkit-keyframes input-box-hover {
  0%{
    background:
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) bottom left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent))top right no-repeat;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
  }
  25%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) bottom left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -2.25px;
    left: -2.25px;
    height: 30px;
    width: 30px;
  }
  50%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) bottom left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -4.75px;
    left: -4.75px;
    height: 34px;
    width: 34px;
  }
  75%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) bottom left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -6.25px;
    left: -6.25px;
    height: 38px;
    width: 38px;
  }
  100%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -8.75px;
    left: -8.75px;
    height: 42px;
    width: 42px;
  }
}
@keyframes input-box-hover {
  0%{
    background:
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) bottom left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent))top right no-repeat;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
  }
  25%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) bottom left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -2.25px;
    left: -2.25px;
    height: 30px;
    width: 30px;
  }
  50%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) bottom left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -4.75px;
    left: -4.75px;
    height: 34px;
    width: 34px;
  }
  75%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) bottom left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -6.25px;
    left: -6.25px;
    height: 38px;
    width: 38px;
  }
  100%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -8.75px;
    left: -8.75px;
    height: 42px;
    width: 42px;
  }
}
@-webkit-keyframes input-box-hover-leave {
  0%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -8.75px;
    left: -8.75px;
    height: 42px;
    width: 42px;
  }
  25%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) bottom left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -6.25px;
    left: -6.25px;
    height: 38px;
    width: 38px;
  }
  50%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) bottom left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -4.75px;
    left: -4.75px;
    height: 34px;
    width: 34px;
  }
  75%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) bottom left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -2.25px;
    left: -2.25px;
    height: 30px;
    width: 30px;
  }
  100%{
    background:
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) bottom left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent))top right no-repeat;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
  }
}
@keyframes input-box-hover-leave {
  0%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, #000), color-stop(80%, #000), color-stop(80%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to left, transparent 20%, #000 20%, #000 80%, transparent 80%) bottom left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%) top left no-repeat,
      linear-gradient(to top, transparent 20%, #000 20%, #000 80%, transparent 80%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -8.75px;
    left: -8.75px;
    height: 42px;
    width: 42px;
  }
  25%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(15%, transparent), color-stop(15%, #000), color-stop(85%, #000), color-stop(85%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to left, transparent 15%, #000 15%, #000 85%, transparent 85%) bottom left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%) top left no-repeat,
      linear-gradient(to top, transparent 15%, #000 15%, #000 85%, transparent 85%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -6.25px;
    left: -6.25px;
    height: 38px;
    width: 38px;
  }
  50%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(10%, #000), color-stop(90%, #000), color-stop(90%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to left, transparent 10%, #000 10%, #000 90%, transparent 90%) bottom left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%) top left no-repeat,
      linear-gradient(to top, transparent 10%, #000 10%, #000 90%, transparent 90%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -4.75px;
    left: -4.75px;
    height: 34px;
    width: 34px;
  }
  75%{
    background:
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) bottom left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent)) top left no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(5%, transparent), color-stop(5%, #000), color-stop(95%, #000), color-stop(95%, transparent))top right no-repeat;
    background:
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to left, transparent 5%, #000 5%, #000 95%, transparent 95%) bottom left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%) top left no-repeat,
      linear-gradient(to top, transparent 5%, #000 5%, #000 95%, transparent 95%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    top: -2.25px;
    left: -2.25px;
    height: 30px;
    width: 30px;
  }
  100%{
    background:
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) bottom left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent)) top left no-repeat,
    -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, #000), color-stop(100%, #000), to(transparent))top right no-repeat;
    background:
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to left, transparent 0%, #000 0%, #000 100%, transparent 100%) bottom left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%) top left no-repeat,
    linear-gradient(to top, transparent 0%, #000 0%, #000 100%, transparent 100%)top right no-repeat;
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes open-menu-brand-logo {
  0%{
    width: 175px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-top: 15px;
    top: 0;
    left: 45px;
  }
  100%{
    width: 450px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc( 50% - 490px );
  }
}

@keyframes open-menu-brand-logo {
  0%{
    width: 175px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-top: 15px;
    top: 0;
    left: 45px;
  }
  100%{
    width: 450px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc( 50% - 490px );
  }
}
@-webkit-keyframes close-menu-brand-logo {
  0%{
    width: 450px;
    top: 50%;
    left: calc( 50% - 490px );
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100%{
    width: 175px;
    padding-top: 15px;
    top: 0;
    left: 45px;
  }
}
@keyframes close-menu-brand-logo {
  0%{
    width: 450px;
    top: 50%;
    left: calc( 50% - 490px );
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100%{
    width: 175px;
    padding-top: 15px;
    top: 0;
    left: 45px;
  }
}

@-webkit-keyframes tab-open-menu-brand-logo {
  0%{
    width: 175px;
    padding-top: 15px;
    top: 0;
    left: 45px;
    -webkit-transform: translateY(0);
            transform: translateY(0);

  }
  100%{
    width: 300px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc( 50% - 340px );
  }
}

@keyframes tab-open-menu-brand-logo {
  0%{
    width: 175px;
    padding-top: 15px;
    top: 0;
    left: 45px;
    -webkit-transform: translateY(0);
            transform: translateY(0);

  }
  100%{
    width: 300px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc( 50% - 340px );
  }
}
@-webkit-keyframes tab-close-menu-brand-logo {
  0%{
    width: 300px;
    top: 50%;
    left: calc( 50% - 340px );
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100%{
    width: 175px;
    padding-top: 15px;
    top: 0;
    left: 45px;
  }
}
@keyframes tab-close-menu-brand-logo {
  0%{
    width: 300px;
    top: 50%;
    left: calc( 50% - 340px );
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100%{
    width: 175px;
    padding-top: 15px;
    top: 0;
    left: 45px;
  }
}
@-webkit-keyframes center-top-bar {
  0%{
    top: 20px;
  }
  100%{
    top: 10px;
  }
}
@keyframes center-top-bar {
  0%{
    top: 20px;
  }
  100%{
    top: 10px;
  }
}
@-webkit-keyframes center-left-bar {
  0%{
    top: 0px;
    height: 0px;
  }
  100%{
    top: 0;
    height: 42px;
  }
}
@keyframes center-left-bar {
  0%{
    top: 0px;
    height: 0px;
  }
  100%{
    top: 0;
    height: 42px;
  }
}
@-webkit-keyframes center-right-bar {
  0%{
    top: 42px;
    height: 0px;
    left: 40px;
  }
  100%{
    top: 0px;
    height: 42px;
    left: 40px;
  }
}
@keyframes center-right-bar {
  0%{
    top: 42px;
    height: 0px;
    left: 40px;
  }
  100%{
    top: 0px;
    height: 42px;
    left: 40px;
  }
}
@-webkit-keyframes center-bottom-bar {
  0%{
    top: 20px;
  }
  100%{
    top: 30px;
  }
}
@keyframes center-bottom-bar {
  0%{
    top: 20px;
  }
  100%{
    top: 30px;
  }
}
@-webkit-keyframes menu-open {
  0%{
    width: 0;
    height: 0vh;
    border-width: 0;
  }
  100%{
    width: 100%;
    height: 100vh;
    border-width: 10px;
  }
}
@keyframes menu-open {
  0%{
    width: 0;
    height: 0vh;
    border-width: 0;
  }
  100%{
    width: 100%;
    height: 100vh;
    border-width: 10px;
  }
}
@-webkit-keyframes menu-close {
  0%{
    width: 100%;
    height: 100vh;
    border-width: 10px;
  }
  100%{
    width: 0;
    height: 0vh;
    border-width: 0;

  }
}
@keyframes menu-close {
  0%{
    width: 100%;
    height: 100vh;
    border-width: 10px;
  }
  100%{
    width: 0;
    height: 0vh;
    border-width: 0;

  }
}
@-webkit-keyframes mob-menu-open {
  0%{
    width: 0;
    height: 0vh;
    border-width: 0;
  }
  100%{
    width: 100%;
    height: 100vh;
    border-width: 5px;
  }
}
@keyframes mob-menu-open {
  0%{
    width: 0;
    height: 0vh;
    border-width: 0;
  }
  100%{
    width: 100%;
    height: 100vh;
    border-width: 5px;
  }
}
@-webkit-keyframes mob-menu-close {
  0%{
    width: 100%;
    height: 100vh;
    border-width: 5px;
  }
  100%{
    width: 0;
    height: 0vh;
    border-width: 0;

  }
}
@keyframes mob-menu-close {
  0%{
    width: 100%;
    height: 100vh;
    border-width: 5px;
  }
  100%{
    width: 0;
    height: 0vh;
    border-width: 0;

  }
}
@-webkit-keyframes menu-transition-open {
  0%{
    width: 0;
    height: 0vh;
  }
  100%{
    width: 100%;
    height: 100vh;
  }
}
@keyframes menu-transition-open {
  0%{
    width: 0;
    height: 0vh;
  }
  100%{
    width: 100%;
    height: 100vh;
  }
}
@-webkit-keyframes menu-trangition-close {
  0%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}
@keyframes menu-trangition-close {
  0%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}
@-webkit-keyframes menu-item-saw {
  0%{
    right: 0;
  }
  100%{
    right: 35%;
  }
}
@keyframes menu-item-saw {
  0%{
    right: 0;
  }
  100%{
    right: 35%;
  }
}
@-webkit-keyframes menu-item-hide {
  0%{
    right: 35%;
  }
  100%{
    right: 0;
  }
}
@keyframes menu-item-hide {
  0%{
    right: 35%;
  }
  100%{
    right: 0;
  }
}
//// page-loader
@keyframes page-loader {
  0%{
    width: 50px;
    height: 2px;
  }
  100%{
    width: 100%;
    height: 100vh;
  }
}
